ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f4f4f4;
  line-height: 1.4;
}

#navbar {
  height: 100vh;
  width: 20vw;
  background: #fff;
  position: sticky;
}

#navbar .navbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#navbar .navbar-container .logo {
  justify-self: flex-end;
  padding-bottom: 5rem;
}

#navbar .navbar-container .links {
  padding-bottom: 5rem;
}

#navbar .navbar-container .links li {
  margin: 2rem 0;
}

#navbar .navbar-container .links a {
  color: #333;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

#navbar .navbar-container .links a:hover {
  background: #333;
  color: #fff;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}

#navbar .navbar-container .social {
  padding: 1rem;
  padding-bottom: 7rem;
}

#navbar .navbar-container .social a {
  padding: 1rem 2rem;
  color: #333;
  text-align: center;
  display: inline;
}

#navbar .navbar-container .social a:hover {
  background: #333;
  color: #fff;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
  border-radius: 40%;
  border: 2px solid #f4f4f4;
}

#navbar .navbar-container #footer {
  justify-self: flex-end;
}
